extends layout

block content
	include addevent.html

	br

	//<Wrapper>
	#wrapper

	//<User LIST>
	h2 Event List
	#eventList
		table
			thead
				th EventName
				th Location
				th Date
				th StartTime
				th EndTime
				th Cost
				th Description
				th Delete?
			tbody
				each event, i in eventlist
					tr
						td= event.eventname
						td= event.location
						td= event.date
						td= event.starttime
						td= event.endtime
						td= '$' + event.cost
						td= event.description
						td
							form(action='/deleteevent',method='post')
								input(type='submit',value="delete")
								input(type='hidden',value=event._id,name='_id')


		//</Event LIST>

	//</Wrapper>