extends layout

block content
	include eventinfo.html

	// Navigation
	nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
		.container
			// Brand and toggle get grouped for better mobile display
			.navbar-header
				button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href="/home")
					img(src="images/Logo-sm-mandevilla.png", alt="")
			// Collect the nav links, forms, and other content for toggling
			#bs-example-navbar-collapse-1.collapse.navbar-collapse
				ul.nav.navbar-nav.navbar-right
					li
						a(href="profile") Settings
					li
						a(href="signout") Logout

	//<User LIST>
	h2 #{event.eventname}
	hr

	.row
		.col-md-6.portfolio-item
			img.img-responsive(src="http://placehold.it/700x400", alt="")
		form.appnitro(role="form", name="checkout", method="post", action="/buytickets")
			.col-md-6.portfolio-item
				.panel.panel-default
					.panel-heading Ticket Information
					.panel-body
						.table-responsive
							table.table.table-condensed
								thead
									tr
										th(style="width:50%")
											small EVENT
										th.text-center(style="width:50%")
											small PRICE
										th.text-center(style="width:50%")
											small QUANTITY
								tbody
									tr
										td #{event.eventname}
										td.text-center $#{event.cost}
										td.text-center
											input.form-control.input-small.span2.text-center(name="quantity", type="number", min="1", value="1")
											//The following is a hidden window containing the eventID
											//that will be stored in the users MyEvents
											input(type="hidden", value=event._id, name="eventID")
											input(type="hidden", value=event.eventname, name="eventname")
											input(type="hidden", value=event.cost, name="cost")
											input(type="hidden", value=event.date, name="date")
											input(type="hidden", value=event.starttime, name="starttime")
											input(type="hidden", value=event.endtime, name="endtime")
											input(type="hidden", value=event.location, name="location")
					.panel-footer.clearfix
						input.btn.btn-success.pull-right(type='submit',value="Buy Ticket(s) >")

	// Event Info
	ul.nav.nav-tabs(role="tablist")
		li.active(role="presentation")
			a(href="#description", data-toggle="tab") Description
		//li(role="presentation")
			//a(href="#details", data-toggle="tab") Details
	
	.tab-content
		#description.tab-pane.fade.in.active
			p #{event.description}
			p
			p Location: #{event.location}
			p Date: #{event.date}
			p Time: #{event.starttime} - #{event.endtime}
		//#details.tab-pane.fade

	// Footer
	footer
		.row
			.col-lg-12
				p Copyright &#169; Spiral Events 2014
		// /.row


	//</Wrapper>
	
	
//extends layout
//
//block content
//	include eventinfo.html
//	// Navigation
//	nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
//		.container
//			// Brand and toggle get grouped for better mobile display
//			.navbar-header
//				button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
//					span.sr-only Toggle navigation
//					span.icon-bar
//					span.icon-bar
//					span.icon-bar
//				a.navbar-brand(href="/home")
//					img(src="images/Logo-sm-mandevilla.png", alt="")
//			// Collect the nav links, forms, and other content for toggling
//			#bs-example-navbar-collapse-1.collapse.navbar-collapse
//				ul.nav.navbar-nav.navbar-right
//					li
//						a(href="profile") Settings
//					li
//						a(href="signout") Logout
//	//<User LIST>
//	h2 #{event.eventname}
//	hr
//	.row
//		.col-md-6.portfolio-item
//			img.img-responsive(src="http://placehold.it/700x400", alt="")
//		.col-md-6.portfolio-item
//			.panel.panel-default
//				.panel-heading Ticket Information
//				.panel-body
//					.table-responsive
//						table.table.table-condensed
//							thead
//								tr
//									th(style="width:50%")
//										small EVENT
//									th.text-center(style="width:50%")
//										small PRICE
//									th.text-center(style="width:50%")
//										small QUANTITY
//							tbody
//								tr
//									td #{event.eventname}
//									td.text-center $#{event.cost}
//									td.text-center
//										input.form-control.input-small.span2.text-center(type="number", min="1", value="1")
//				.panel-footer.clearfix
//					intput.btn.btn-success.pull-right(type="submit")
//						| Checkout
//						label.fa.fa-angle-right
//	// Event Info
//	ul.nav.nav-tabs(role="tablist")
//		li.active(role="presentation")
//			a(href="#description", data-toggle="tab") Description
//		li(role="presentation")
//			a(href="#details", data-toggle="tab") Details
//	.tab-content
//		#description.tab-pane.fade.in.active
//			p #{event.description}
//		#details.tab-pane.fade
//			p Location: #{event.location}
//			p Date: #{event.date}
//			p Time: #{event.starttime} - #{event.endtime}
//	// Footer
//	footer
//		.row
//			.col-lg-12
//				p Copyright &#169; Spiral Events 2014
//		// /.row
//	//</Wrapper>