extends layout

block content
    include eventlist.html

    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            a.navbar-brand(href="/home")
                img(src="images/Logo-sm-mandevilla.png", alt="")
            
            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="profile") Settings
                    li
                        a(href="signout") Logout

    //Header
    h2 Upcoming Events
    
    hr

    // Projects Row
    .row
        each event, i in eventlist
            .col-md-4.event(name=event.eventname)
                a(href= '/eventinfo?id=' + event._id)
                    .overlay
                    img.img-responsive(alt="alternative text", src="./images/templatemo-bg-2.jpg")
                p
                    strong #{event.eventname}
                    br
                    em at #{event.location}
                    br
                    span.small #{event.starttime} - #{event.endtime}

                span.label.label-info.date #{event.date}
                span &#160;
                span.label.label-primary Tickets $#{event.cost}

    hr

    // Footer
    footer
        .row
            .col-lg-12
                p Copyright &#169; Spiral Events 2014