extends layout

block content
  h1= title
  p Add an event

  //<Wrapper>
  #wrapper

    //<User LIST>
    h2 User List
    #userList
        table
            thead
                th EventName
                th Location
                th Date
                th StartTime
                th EndTime
                th Cost
                th Description
                th Delete?
            tbody
        //</User LIST>

    //</Wrapper>
