extends layout

block content
    include profile.html

    // Navigation
    nav.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
        .container
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            a.navbar-brand(href="/home")
                img(src="images/Logo-sm-mandevilla.png", alt="")

            // Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="profile") Settings
                    li
                        a(href="signout") Logout


    //Header
    h2 My Profile

    hr

    .container
        .row
            // left column
            .col-md-4.col-sm-6.col-xs-12
                .text-center
                    img.avatar.img-square.img-thumbnail(src="/images/member_no_image.png", alt="avatar")
                    h6 Upload a different photo...
                    input.text-center.center-block.well.well-sm(type="file")
            // edit form column
            .col-md-8.col-sm-6.col-xs-12.personal-info
                h3 User info
                form.form-horizontal(role="form", method="post", action="/updateprofile")
                    .form-group
                        .col-md-6
                            label.control-label(for="username") Username
                            input#username.form-control(type="text", required="", name="username", placeholder="", value=user.username)
                    .form-group
                        .col-md-6
                            label.control-label(for="email") Email
                            input#email.form-control(type="email", required="", name="useremail", placeholder="", value=user.email)
                    br
                    .form-group
                        .col-md-12
                            input.btn.btn-primary(type="submit", value="Save Changes")
                            span &#160;
                            input.btn.btn-default(type="reset", value="Cancel")

    //Header
    h2 My Events

    hr

    // Events Row
    .row
        each event, i in eventlist
            .col-md-4.event
                a(href= '/eventinfo?id=' + event._id)
                    .overlay
                    img.img-responsive(alt="alternative text", src="./images/templatemo-bg-1.jpg")
                p
                    strong #{event.eventname}
                    br
                    em at #{event.location}
                    br
                    span.small #{event.starttime} - #{event.endtime}

                span.label.label-info.date #{event.date}
                span &#160;
                span.label.label-primary.time Tickets $#{event.cost}
                span &#160;
                span.label.label-success #{event.quantity} Tickets

    hr

    // Footer
    footer
        .row
            .col-lg-12
                p Copyright &#169; Spiral Events 2014